    /* Jumbotrons
    -------------------------------------------------- */
    .jumbotron {
      position: relative;
      padding: 2em;
      padding-bottom: 2em;
      margin: 1em 2em;
      /* background-color: rgba(254,254, 254 ,0.2); */
      border-radius: 1em;
    }
    .jumbotron h1 {
      margin-bottom: 9px;
      font-size: 81px;
      font-weight: bold;
      letter-spacing: -1px;
      line-height: 1;

    }
    .jumbotron p {
      margin-bottom: 18px;
      font-weight: 300;
    }
    .jumbotron .btn-large {
      font-size: 20px;
      font-weight: normal;
      padding: 14px 24px;
      margin-right: 10px;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
    }
    .jumbotron .btn-large small {
      font-size: 14px;
    }
    .jumbotron{
      a{
        &:hover{
          text-decoration: none;
        }
      }
    }


    /* Specific jumbotrons
    ------------------------- */
    /* supporting docs pages */
    .subhead {
      padding-bottom: 0;
      margin-bottom: 2em;
}
.subhead h1 {
  font-size: 54px;

}
span.nu{
  font-family: @nu_font;
  color: @nu_color;
  font-weight: @nu_font_wegith;
  font-size: 0.8em;
  .libraries{
    color: @libraries_color;
    font-style: italic;
  }
}